h1 {
    color:blue
}
    h2 {
        color:darkorange
    }

    button{
        background-color:gold
    }

    h3{
        color:darkorange
    }

    body {
        background-color:cornsilk ;
    }